body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/background.svg');
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
}

#content img {

}

#content {
    background-color: rgba(246, 159, 12, 0.75);
    color: black;
    padding: 15px;
    margin: 25px;
    border-radius: 10px;
}